@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /*background-color:#000;*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}

#form-container {
  max-width: 800px;
  margin: 32px auto;
  padding: 32px 5%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #000;
  border-radius: 8px;
}

@media (max-width: 800px) {
  #form-container {
    margin: 0 auto;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#logo {
  margin: 0 auto 32px auto;
}

#survey-form {
  width: 100%;
  margin: 0 auto;
}

#title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

#description {
  font-size: 1.8rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.question {
  margin-bottom: 8px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.question sup {
  font-size: 1.2rem;
  margin-left: 4px;
}

.input-box {
  height: 48px;
  max-width: 50%;
  padding-left: 12px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: 0.3s ease;
}

.input-box1 {
  height: 48px;
  max-width: 40%;
  padding-left: 12px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: 0.3s ease;
}

.input-box2 {
  height: 48px;
  max-width: 10%;
  padding-left: 12px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: 0.3s ease;
}

.input-box:focus {
  outline: none;
  box-shadow: 0 -4px 0 #00c969 inset;
  background-color: #fff;
}

input[type="number"] {
  padding-right: 12px;
}

.checkbox-group input,
.radio-group input {
  width: 18px;
  height: 18px;
}

.checkbox-group label,
.radio-group label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2;
  gap: 8px;
  font-weight: 400;
  margin-left: 8px;
}

.textarea {
  height: 120px;
  padding: 12px;
}

#submit {
  cursor: pointer;
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  padding: 12px 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #00df75;
  border: 1px solid #009c52;
  border-radius: 8px;
  box-shadow: 0 5px 0 #009c52;
  filter: sepia(40%);
  transition: all 0.3s ease;
  margin: auto;
  display: grid;
}

#submit:hover {
  filter: sepia(0);
}

#submit:focus {
  transform: translateY(4px);
  box-shadow: none;
}

/* clickable tabs*/
.tabs {
  position: relative;
  margin: 25px 0;
  clear: both;
  min-height: 13px;
  padding: 0.5em;
}

.tab {
  float: left;
}

.tab label {
  background-color: #fff;
  color: #0f0c29;
  padding: 10px 35px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab [type=radio] {
  display: none;
}

[type=radio]:checked~label {
  background-color: #E5E4E2;
  border: 2px solid #E5E4E2;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}